/*
 * style
 */

/* for testing DXPR theme */

/* body.body--dxpr-theme-nav-desktop */
body.body--dxpr-theme-nav-desktop a.name.navbar-brand {
  font-weight: bold !important;
  font-style: italic !important;
}
body.body--dxpr-theme-nav-desktop .content img {
  border-radius: 10px !important;
}

body.body--dxpr-theme-nav-desktop #block-addtoany {
  margin-bottom: 10px;
  margin-left: 1em;
  float: left;
}

body.body--dxpr-theme-nav-desktop #block-lmft {
  margin-right: 1em;
  float: right;
}

body.body--dxpr-theme-nav-mobile #page-title .page-title,
body.body--dxpr-theme-nav-desktop #page-title .page-title {
  height: 120px!important;
}
body.body--dxpr-theme-nav-desktop ul.menu.nav.navbar-nav a.is-active {
  font-weight: bold !important;
}

.thumbnail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  min-width: 40%;
  border-radius: 5px;
}

.thumbnail-description {
  min-height: 40px;
}
